<ul class="sidenav admin-sidenav list-unstyled">
    <li><a href="/movies/last"> ultimas peliculas</a></li>
    <li><a href="/movies/first">primera pelicula</a></li>
    <li> <a href="/movies/454017"> Una Pelicula</a></li>
    <li><a href="/categories">categorias</a></li>
    <li> <a href="/categories/6267ffc3b5122482add2e39c"> Una Categoria</a></li>
</ul>